<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CodeFluentRuntimeClient" version="1.0.0.763" targetFramework="net40" />
  <package id="CommandLineParser" version="1.9.71" targetFramework="net40" />
  <package id="Costura.Fody" version="1.1.0.0" targetFramework="net40" developmentDependency="true" />
  <package id="Fody" version="1.14.0" targetFramework="net40" />
</packages>